body{
    background-color: antiquewhite;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: azure;
}

.logo {
    align-items: right;
}

.menu-toggle {
    display: none;/*only for mobile*/
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-links li{
    gap: 20px;
}



@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background: azure;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .nav-links.show {
        display: flex;
    }
}
