body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

#loginForm label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#loginForm input[type="text"],
#loginForm input[type="number"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    font-size: 16px;
}

#loginForm button[type="submit"],
#scanIMG {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#loginForm select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

#loginForm button[type="submit"]:hover,
#scanIMG:hover {
    background-color: #0056b3;
}

#scanIMG:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#idIMG {
    width: 100%;
    margin-bottom: 15px;
}

/* Style for the "Or Scan ID Image" label */
label[for="idIMG"] {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

